{% extends "base.html" %}

{% load static %}

{% block title %}
Zeise Coding Blog - Python für Anfänger und Fortgeschrittene
{% endblock %}



{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}


{% block content %}


{% comment %} <h1 style="margin-bottom: 3.5rem; text-align:center;">Blog</h1> {% endcomment %}

{% if categories_menu %}
<div style="margin-bottom: 5rem; width: 100%">
    <ul class="categories__menu">
        {% for item in categories_menu %}
            <li>
                <a href="{% url 'category' item|slugify %}" class="btn-blog-category">{{ item|title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="categories__menu__searchbar">
        <form class="categories__menu__searchbar__form" method="POST" action="{% url 'search-post' %}">
            {% csrf_token %}
            <input class="search-input" type="search" placeholder="Search Post" aria-label="Search" name="post-search-input" required>
            <ion-icon name="search" class="fa"></ion-icon>
        </form>
    </div>
    {% comment %} <hr class ="center" style="width: 90%; margin-top:2rem;"> {% endcomment %}
</div>
{% endif %}

{% if user.is_authenticated %}
    <div class="center">
        <a href="{% url 'add-post' %}" class="btn">Add Post</a>
        <a href="{% url 'add-category' %}" class="btn">Add Category</a>
    </div>
{% endif %}



<!-- Blog Entries Column -->
{% for post in pinned_posts %}
<div class="border-card post-card" style="margin-bottom: 3.5rem">
    <div class="card-body">
        <div>
            <ion-icon name="star-outline" id="star-icon"></ion-icon>
        </div>
        <h2>{{ post.title }}</h2>
        <p class="text-muted">
            {% for category in post.categories.all %}
                <a href="{% url 'category' category|slugify %}"> {{ category|title }}</a> |
            {% endfor %}
            {{ post.author.first_name|title }} {{ post.author.last_name|title }} - {{ post.created_on.date}}
            {% if user.is_authenticated and user.id == post.author.id %}
                <a href="{% url 'edit-post' post.slug  %}">Edit</a> | <a href="{% url 'delete-post' post.slug  %}">Delete</a>
            {% endif %}
        </p>
        <p>{{ post.snippet|safe }}</p>
        <a href="{% url 'post-detail' post.slug  %}" class="read-more-btn" style="text-align:center;display:block;"><span class="post-link"></span></a>
    </div>
</div>
{% endfor %}


<!-- Blog Entries Column -->
{% for post in post_list %}
<div class="border-card post-card" style="margin-bottom: 3.5rem">
    <div class="card-body">
        <h2>{{ post.title }}</h2>
        <p class="text-muted">
            {% for category in post.categories.all %}
                <a href="{% url 'category' category|slugify %}"> {{ category|title }}</a> |
            {% endfor %}
            {{ post.author.first_name|title }} {{ post.author.last_name|title }} - {{ post.created_on.date}}
            {% if user.is_authenticated and user.id == post.author.id %}
                <a href="{% url 'edit-post' post.slug  %}">Edit</a> | <a href="{% url 'delete-post' post.slug  %}">Delete</a>
            {% endif %}
        </p>
        <p>{{ post.snippet|safe }}</p>
        <a href="{% url 'post-detail' post.slug  %}" class="read-more-btn btn" style="text-align:center;display:block;"><span class="post-link"></span></a>
    </div>
</div>
{% endfor %}


{%endblock%}