{% extends "base.html" %}


{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}


{% block content %}


<div div class="container">

{% if category_posts %}

    <div class="center" style="margin-bottom:3.5rem;">
        <h1>Kategorie:&ensp;</h1>
        <h1 id="main-category-title">{{category|title}}</h1>
    </div>

    <div class="col">
        <!-- Blog Entries Column -->
        <div class="flex-container wrap center" style="width: 100%;">
            {% for post in category_posts %}
            <div class="card mb-4 border-card post-card" style="margin-bottom: 3.5rem !important">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6"> {{ post.author.first_name|title }} {{ post.author.last_name|title }} - {{ post.created_on.date}}
                        {% if user.is_authenticated and user.id == post.author.id %}
                            <a href="{% url 'edit-post' post.slug  %}">Edit</a> | <a href="{% url 'delete-post' post.slug  %}">Delete</a>
                        {% endif %}
                    </p>
                    <p class="card-text">{{ post.snippet|safe }}</p>
                    <a href="{% url 'post-detail' post.slug  %}" class="read-more-btn btn" style="text-align:center;display:block;">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% else %}
    <div style="margin-bottom:3.5rem;">
        <h1 style="text-align:center"> Aktuell gibt es keine Beiträge zu:&ensp;</h1>
        <h1 style="text-align:center; color: var(--gray-turquoise-color);">{{category|title}}</h1>
    </div>

{% endif %}


</div>

{%endblock%}