
{% extends "base.html" %}

{% load static %}

{% block metahead%}
{% if filtered_posts %}
<title>Zeise Coding Blog | Suche:&ensp;{{search|title}}</title>
<meta property="og:title" content="Zeise Coding Blog | Kategorie:&ensp;{{search|title}}">
<meta name="description" property="og:description" content="Alle Blog-Beiträge zum Thema&ensp;{{search|title}} auf einen Blick!">

<!--{% comment %}<meta property="og:image" content="{{post.header_image.url}}">
<meta property="og:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}-->
<meta property="og:url" content="https://www.zeise-coding.de/blog/search-post/{{search}}">
<meta name="twitter:title" content="Zeise Coding Blog | Suche:&ensp;{{search|title}}">
<meta name="twitter:description" content="Alle Blog-Beiträge zum Thema&ensp;{{search|title}} auf einen Blick!">
<!--{% comment %}    <meta name="twitter:image" content="{{post.header_image.url}}">
<meta name="twitter:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}-->
{% endif %}
<meta name="twitter:card" value="summary"> {% comment %} "summary", "summary_large_image", "app", or "player". {% endcomment %}
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">
<meta name="author" content="Dominique Zeise">
<meta property="og:type" content="blog">
<meta name="robots" content="index, follow">
{% endblock %}



{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}



{% block content %}


<div div class="container">

{% if filtered_posts %}

    <div class="center" style="margin-bottom:3.5rem;">
        <h1>Deine Suche:&ensp;</h1>
        <h1 id="main-search-title">{{search|title}}</h1>
    </div>

    <div class="posts-flex">
        <!-- Blog Entries Column -->
        {% for post in filtered_posts %}
        <div class="post-card">
            <div class="post-card__body">
                <div class="post-card__image-area">
                    <img class="post-card__image" alt="Thumbnail Python Type Hinting" src="{{post.header_image}}" style="box-sizing:border-box;  border: 2px solid var(--dark-gray-color);">
                    <p class="text-muted post-card__image-categories">
                        {{ post.created_on.date}}<br> {% comment %}| {{ post.author.first_name|title }} {{ post.author.last_name|title }} {% endcomment %}
                    </p>
                </div>
                <div class="post-card__body__text-area">
                    <h2 style="margin-bottom:2rem;">{{ post.title }}</h2>
                    <p>{{ post.snippet|safe }}</p>
                    <div class="text-muted">
                        {% for category in post.categories.all %}
                            <a href="{% url 'category' category|slugify %}"> {{ category|title }}</a> &nbsp;
                        {% endfor %}
                    </div>
                    <p class="text-muted post-card__body__text-area-categories">
                        {{ post.created_on.date}}<br> {% comment %}| {{ post.author.first_name|title }} {{ post.author.last_name|title }} {% endcomment %}
                    </p>
                </div>
            </div>
            <a href="{% url 'post-detail' post.slug  %}"><span class="post-link"></span></a>
        </div>
        {% endfor %}
    </div>







{% else %}
    <div style="margin-bottom:3.5rem;">
        <h1 style="text-align:center"> Aktuell gibt es keine Beiträge zu:&ensp;</h1>
        <h1 style="text-align:center; color: var(--gray-turquoise-color);">{{search|title}}</h1>
    </div>
{% endif %}


</div>

{%endblock%}