{% extends "base.html" %}

{% load static %}

{% block metahead%}
<title>Online Kurse | Python für Data-Science, Bioinformatik & mehr</title>
<meta property="og:title" content="Hier findest du online Kurse über Python für Anfänger und Fortgeschrittene. Du interessierst dich zum Beispiel für Data-Science und KI? Dann schaue vorbei!">
<meta name="author" content="Dominique Zeise">
<meta name="description" property="og:description" content="Alles rundum Python und R für Anfänger und Fortgeschrittene. Raspberry Pi Projekte, schlechte Bots, online Kurse und vieles Mehr. Klicke hier!">
<meta property="og:type" content="website">
<!--{% comment %}<meta property="og:image" content="{{course.header_image.url}}">
<meta property="og:image:alt" content="{{course.header_image_alt}}"> {% endcomment %}-->
<meta property="og:url" content="https://www.zeise-coding.de/courses/">
<meta name="twitter:card" value="summary_large_image"> {% comment %} "summary", "summary_large_image", "app", or "player". {% endcomment %}
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">
<meta name="twitter:title" content="Hier findest du online Kurse über Python für Anfänger und Fortgeschrittene. Du interessierst dich zum Beispiel für Data-Science und KI? Dann schaue vorbei!">
<meta name="twitter:description" content="Alles rundum Python und R für Anfänger und Fortgeschrittene. Raspberry Pi Projekte, schlechte Bots, online Kurse und vieles Mehr. Klicke hier!">
<!--{% comment %}    <meta name="twitter:image" content="{{course.header_image.url}}">
<meta name="twitter:image:alt" content="{{course.header_image_alt}}"> {% endcomment %}-->
<meta name="robots" content="index, follow">
{% endblock %}



{% block extrahead %}
<link rel="stylesheet" href="{% static "courses/css/courses.css" %}">
{% endblock %}


{% block content %}
<h1 style="margin-bottom: 3.5rem; text-align:center">Online Kurse</h1>

<div class="courses-flex">
    <!-- Blog Entries Column -->
    {% for course in pinned_courses %}
    <div class="course-card">
        <div class="course-card__body">
            <img class="course-card__body__image" alt="Thumbnail {{ course.title }}" src="{{course.thumbnail}}">
            <h2 style="text-align: center;display:block; margin-top:1rem">{{ course.title }}</h2>
            <h4 style="margin-top: 0.5rem; text-align: center;display:block;">{{ course.subtitle }}</h2>
            <div class="text-muted" style="margin-top:1rem">
                {% for category in course.categories.all %}
                    <a href="{% url 'category' category|slugify %}"> {{ category|title }}</a> &nbsp;
                {% endfor %}
            </div>
            <div class="ratings-area">
                <span class="text-muted new-sign">Neu</span>
                <div class="rating-stars-container">
                    <ion-icon name="star" class="star-rating"></ion-icon>
                    <ion-icon name="star" class="star-rating"></ion-icon>
                    <ion-icon name="star" class="star-rating"></ion-icon>
                    <ion-icon name="star" class="star-rating"></ion-icon>
                    <ion-icon name="star" class="star-rating"></ion-icon>
                    {% comment %} <ion-icon name="star-half-outline" class="star-rating"></ion-icon>
                    <ion-icon name="star-outline" class="star-rating"></ion-icon> {% endcomment %}
                </div>
            </div>
            <div class="price-section">
                <span class="strikethrough">{{course.price}}€</span>
                <span class="discount-price">{{course.discount_price}}€</span>
            </div>
            {% if course.discount and course.discount_link%}
            <a href="{{course.discount_link}}"><span class="course-link"></span></a>
            {% else %}
            <a href="{{course.promo_link}}"><span class="course-link"></span></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}



</div>




{%endblock%}

