
{% extends "base.html" %}
{% load static %}


{% block metahead%}
<title>Zeise Coding Homepage | Blog & Kurse</title>
<meta property="og:title" content="Python Blog für Data-Science & Bioinformatik | Zeise Coding">
<meta name="author" content="Dominique Zeise">
<meta name="description" property="og:description" content="Spannende online Kurse und Blogartikel über Python, R, Data-Science, KI, Bioinformatik & vieles Mehr - für Anfänger und Fortgeschrittene. Komm vorbei!">
<meta property="og:type" content="website">
<meta name="robots" content="index, follow">
<!--{% comment %}<meta property="og:image" content="{{post.header_image.url}}">
<meta property="og:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}-->
<meta property="og:url" content="https://www.zeise-coding.de/">
<meta name="twitter:card" value="summary_large_image"> {% comment %} "summary", "summary_large_image", "app", or "player". {% endcomment %}
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">
<meta name="twitter:title" content="Python Blog für Data-Science & Bioinformatik | Zeise Coding">
<meta name="twitter:description" content="Spannende online Kurse und Blogartikel über Python, R, Data-Science, KI, Bioinformatik & vieles Mehr - für Anfänger und Fortgeschrittene. Komm vorbei!">
<!--{% comment %}    <meta name="twitter:image" content="{{post.header_image.url}}">
<meta name="twitter:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}-->
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}

<h1 style="margin-bottom: 5rem; text-align:center">Data-Science, Bioinformatik, Python und schlechte Bots!</h1>
<h2 style="margin-bottom: 2.5rem; text-align:center">Dies und viel mehr erwartet dich hier.</h2>


<div class="flex-container welcome">
    <img src="https://res.cloudinary.com/hpi3kkgtu/image/upload/c_scale,f_jpg,q_auto:eco,r_0,w_200/v1650447905/Profile-Images/dominique-zeise-profile-image.jpg" class="circular--square profile-image" alt="Dominique Zeise Profile-Image with nice Smile!">
    <p>Hi! Ich bin Dominique Zeise, habe Bioinformatik studiert und arbeite als Data Scientist.</br>Wenn du dich für Bioinformatik, Datenanalysen, Python, Raspberry Pi Projekte und die Entwicklung schlechter Bots interessierst, bist du hier genau richtig.</p>
</div>

<div class="spaced-btns">
    <a href="{% url 'courses-home' %}" class="neon-button btn-courses"><span id="offset_start">K</span>urs<span id="offset">e</span></a>
    <a href="{% url 'blog-home' %}" class="neon-button btn-blog">Blog</a>
</div>

{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts%}