
{% extends "base.html" %}
{% load static %}

{% block extrahead %}
{% endblock %}


{% block content %}


<div style="width: 100%;">

    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Dominique Zeise<br />
    Zeise Coding<br />
    Gr&uuml;nauer Stra&szlig;e 11<br />
    15732 Eichwalde</p>

    <h2>Kontakt</h2>
    <p>Telefon: +491738348864<br />
    E-Mail: dominique.zeise@zeise-coding.de</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE999999999</p>

    <h2>Gewerbeanmeldung</h2>
    <p>Die Gewerbeanmeldung nach GewO wurde am 01.03.2022 durch Ordnungsamt Eichwalde erteilt.</p>

    <h2>Redaktionell verantwortlich</h2>
    <p>Dominique Zeise<br />
    Gr&uuml;nauer Stra&szlig;e 11<br />
    15723 Eichwalde</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>

{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts%}