
{% extends "base.html" %}
{% load static %}


{% block metahead%}
<title>Zeise Coding Impressum</title>
<meta property="og:title" content="Zeise Coding Impressum">
<meta name="author" content="Dominique Zeise">
<meta name="description" property="og:description" content="Mein Impressum">
<meta property="og:type" content="article">
{% comment %}<meta property="og:image" content="{{post.header_image.url}}">
<meta property="og:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}
<meta property="og:url" content="https://www.zeise-coding.de/impressum">
<meta name="twitter:card" value="summary_large_image"> {% comment %} "summary", "summary_large_image", "app", or "player". {% endcomment %}
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">
<meta name="twitter:title" content="Zeise Coding Impressum">
<meta name="twitter:description" content="Mein Impressum">
<meta name="robots" content="noindex, follow">
{% comment %} <meta name="twitter:image" content="{{post.header_image.url}}">
<meta name="twitter:image:alt" content="{{post.header_image_alt}}"> {% endcomment %}
{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}


<div style="width: 100%;">

    <h1>Impressum</h1>
    <address>
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Dominique Zeise<br/>
        Zeise Coding<br/>
        Gr&uuml;nauer Stra&szlig;e 11<br/>
        15732 Eichwalde</p>

        <h2>Kontakt</h2>
        <p>Telefon: +491738348864<br />
        E-Mail: dominique.zeise@zeise-coding.de</p>
    <address>

    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE999999999</p>

    <h2>Gewerbeanmeldung</h2>
    <p>Die Gewerbeanmeldung nach GewO wurde am 01.03.2022 durch Ordnungsamt Eichwalde erteilt.</p>

    <h2>Redaktionell verantwortlich</h2>
    <p>Dominique Zeise<br />
    Gr&uuml;nauer Stra&szlig;e 11<br />
    15723 Eichwalde</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>

{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts%}