
.pinned-post-box{
  width:100%;
}


.pinned-post{
  width: 100%;
  position: relative;
  /* border-color: var(--light-turquoise-color); */
}

#star-icon {
  color: var(--yellow-color);
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}


.btn-group-wrap{
  align-items: center;
  justify-content: center;
}

.btn-blog-category{
  color: var(--gray-turquoise-color);
  font-size: var(--h3-size);

}
.btn-blog-category:hover{
  color: var(--yellow-color) !important;
}


.btn-search{
  border: 2px solid;
  border-color: var(--gray-turquoise-color);
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--gray-color) !important;
}

.search-input{
  background-color: transparent;
  background-repeat: no-repeat;
}

input.search-input {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  color: var(--gray-color) !important;
  border-color: var(--gray-turquoise-color) !important;
}


#main-search-title{
    color: var(--gray-turquoise-color);
    display: inline;
}

/*---------------------------------------------
              CATEGORY
---------------------------------------------*/
#main-category-title{
  color: var(--gray-turquoise-color);
  display: inline;
}


.post-card{
  width: 100%;
}


/*---------------------------------------------
              DETAIL
---------------------------------------------*/

.post-detail-divider{
  width:50%;
  border-color: var(--light-turquoise-color) !important;
  border-top: 0.15rem solid;
}