{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}

{% block content %}

<div class="container">

  <div class="flex-container wrap center" style="width: 100%;">
    <div class="card">
      <div class="card-body">
        <h1> {{ post.title }}</h1>
        <p class="text-muted" style="text-align: end; font-size:1rem;">{{ post.author.first_name }} {{ post.author.last_name }}</br>{{ post.created_on.date }}
        <p class="card-text"><small class="text-muted">Social Media Icons here! / If statement with for loop from list</small></p>
          {% if user.is_authenticated and user.id == post.author.id %}
            <a href="{% url 'edit-post' post.slug  %}">Edit</a> | <a href="{% url 'delete-post' post.slug  %}">Delete</a>
          {% endif %}
        </p>
        <hr class="post-detail-divider" style="margin-bottom:5rem;">


        <p class="card-text">
          {% if post.header_image %}
            <img src="{{ post.header_image.url | safe }}">
          {% endif %}
          {{ post.content | safe }}
        </p>
      </div>
    </div>
  </div>

  <form action="{% url 'like-post' post.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit", value="{{ post.id }}", class="btn btn-primary btn-sm" name="post_id">Like</button>
  </form>

  <br>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
          <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start rounded-cirlce" width=300 height=300 alt="No Profile Picture">
        {% else %}
          <img src="{% static 'logo/Logo_ZC.png' %}" class="img-fluid rounded-start rounded-cirlce" width=300 height=300 alt="No Profile Picture">
        {% endif %}
        </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
          <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
          <p class="card-text"><small class="text-muted">Social Media Icons here! / If statement with for loop from list</small></p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
          <i class="bi-github" role="img" aria-label="GitHub"></i>
        </div>
      </div>
    </div>

    <hr>
      <h2>Comments</h2>
      <form>
        <div class="form-group">
          <label for="comment_textarea">Write a Comment</label>
          <textarea class="form-control" id="comment_textarea" rows="3"></textarea>
        </div>
      </form>
      {% if not post.comments.all %}
        Post the first Comment!
      {% else %}
        {% for comment in post.comments.all%}
          <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
          <br/>
          {{ comment.content }}
        {% endfor %}
      {% endif %}
  </div>
</div>


{% endblock content %}
