/*---------------------------------------------
              BASIC SETUP
---------------------------------------------*/
:root {
  /* palette */

  --black-color: #0B0C10;
  --dark-gray-color: #1F2833;
  --gray-color: #C5C6C7;
  --dark-blue-color: #2C5EB3;
  --gray-turquoise-color: #45A29E;
  --light-turquoise-color: #66FCF1;
  --orange-color: #fc8966;
  --yellow-color: #fcd466;
  --violett-color: #6670fc;
  --light-green-color: #6bfc66;
  --neon-green-color: #00FE0C;

  /* themes */

  /* --stamps-color: var(--beige-color);
    --envelopes-color: var(--blue-sky-color);
    --postal-cards-color: var(--emerald-color);
    --postcards-color: var(--red-color);
    --about-color: var(--light-wood-color); */
  --page-color: var(--dark-gray-color);
  --btn-bg-color: var(--page-color);
  --scrollbar-bg-color: var(--dark-gray-color);
  --thumb-bg-color: var(--page-color);
  /* --image-placeholder-color: var(--light-gray-color); */

  /* typography */

  --serif-fonts: "Times New Roman", serif;
  --sans-serif-fonts: "Roboto-Light", Arial, sans-serif;

  /* --welcome-head-text: 1.75em;
    --welcome-text: 1.125em;*/
  --h1-size: 2.75rem;
  /*44px*/
  --h2-size: 1.688rem;
  /*27px*/
  --h3-size: 1.375rem;
  /*22px*/
  /* --date-size: 1.75rem; */
  --text-size: 1.25rem;
  /*20px*/
  ;


  /* common */
  --header-height: 7.25em;

}

/* Marking / Selection Colors */
*::selection {
  background: var(--gray-color);
  color: black;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--gray-color);
  color: black;
  /* Gecko Browsers */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}


body {
  height: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background: var(--black-color);
  font-family: var(--sans-serif-fonts);
  font-size: var(--text-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  /*24px*/
  letter-spacing: 0.013rem;
  /*0.2px;*/
  color: var(--gray-color);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-bg-color) var(--scrollbar-bg-color);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--thumb-bg-color);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  border: none;
}

header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  max-height: var(--header-height);
  box-sizing: border-box;
  background: var(--page-color);
}


/* ---------- CONTENT -------------------------*/



.page-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top:5%;
}

/* Medium screen devices (768px and below) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .page-content {
     width: 90%;
     margin-bottom: 50px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  html {
    font-size: 100%;
  }
  .page-content {
    width: 40%;
  }
}


/*---------------------------------------------
          REUSABLE COMPONENTS
---------------------------------------------*/

/* ---------- HEADINGS -------------------------*/
h1,
h2,
h3 {
  color: white;
  /* text-transform: uppercase; */
  letter-spacing: 0.063rem;
  font-family: "Roboto-Black", Arial, sans-serif;
  font-weight: bold;
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--h1-size);
  word-spacing: 0.25rem;
  line-height: 3.063rem;
}

h2,
h3 {
  word-spacing: 0.01rem;
  line-height: 1.8rem;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

/* ------------PARAGRAPHS------------------------*/


/* ------------HORIZONTAL RULE------------------------*/

hr {
  color: var(--gray-color);
  display: block;
  border-top: 0.063rem solid;
}


/* ------------LINKS------------------------*/
a {
  color: var(--gray-turquoise-color);
  text-decoration: none!important;
}

a:hover {
  color: var(--yellow-color);
  text-decoration: none!important;
}

/* ------------CONTAINER------------------------*/

.flex {
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
}

/* ------------ICONS------------------------*/

ion-icon {
  font-size: 2rem;
}


/* ------------BUTTONS---------------------------*/


.btn-filled,
.btn-bordered {
  border: 2px solid;
  border-color: var(--light-turquoise-color);
}

.btn-filled {
  background-color: var(--light-turquoise-color);
  color: var(--black-color);
}

.btn-bordered {
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
}

.btn-danger {
  color: #fff;
  background-color: #f00000;
  border-color: #dc281e;
}

.read-more-btn {
  color: var(--gray-turquoise-color);
  font-weight: bold;
}



/* ------------DIVIDER---------------------------*/
.blog-divider-top,
.blog-divider-bottom,
.light-turquoise-divider {
  border-color: var(--light-turquoise-color) !important;
  border-top: 0.15rem solid;
}


.blog-divider-top {
  margin-bottom: 3rem;
  width: 50%
}

.blog-divider-bottom {
  margin-top: 3rem;
  width: 50%
}


/* ------------CARDS---------------------------*/

.card {
  background-color: transparent;
  background-repeat: no-repeat;
}

.border-card {
  border: 0.125rem solid;
  border-color: var(--gray-color);
  border-radius: 2rem;
  object-fit: cover;
}


.card-body {
  position: relative;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* ------------IMAGES---------------------------*/

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

/*---------------------------------------------
              HEADER
---------------------------------------------*/

/*---------------------------------------------
              BLOGPOSTS
---------------------------------------------*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}