.categories__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}


.pinned-post-box{
  width:100%;
}


.pinned-post{
  width: 100%;
  position: relative;
  /* border-color: var(--light-turquoise-color); */
}

#star-icon {
  color: var(--yellow-color);
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}


.btn-blog-category{
  color: var(--gray-turquoise-color);
  font-size: var(--h3-size);

}
.btn-blog-category:hover{
  color: var(--yellow-color) !important;
}


.btn-search{
  border: 2px solid;
  border-color: var(--gray-turquoise-color);
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--gray-color) !important;
}

.search-input{
  background-color: transparent;
  background-repeat: no-repeat;
}

input.search-input {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  color: var(--gray-color) !important;
  border-color: var(--gray-turquoise-color) !important;
}


#main-search-title{
    color: var(--gray-turquoise-color);
    display: inline;
}

/*---------------------------------------------
              CATEGORY
---------------------------------------------*/
#main-category-title{
  color: var(--gray-turquoise-color);
  display: inline;
}


.post-card{
  width: 100%;
}

.card-body {
  position: relative;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-muted {
 color: #6c757d;
}

/*---------------------------------------------
              DETAIL
---------------------------------------------*/

.author-profile-image{
    max-width: 100%;
    height: auto;
    width: auto; /*ie8*/
    border: 0.25rem solid;
    border-color: var(--gray-color);
}

