/*---------------------------------------------
              HOME
---------------------------------------------*/


#star-icon {
  color: var(--yellow-color);
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}


.btn-blog-category{
  color: var(--gray-turquoise-color);
  font-size: var(--h3-size);
}


.categories__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.categories__menu__searchbar{
  text-align: center;
  height: 50px;
}

.categories__menu__searchbar__form{
  margin-top: 25px;
  display: inline-block;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: var(--dark-gray-color);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid var(--dark-gray-color);
  padding: 5px;
}

.search-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--gray-color);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.categories__menu__searchbar__form:hover,
.categories__menu__searchbar__form:valid{
    width: 200px;
    cursor: pointer;
}

.categories__menu__searchbar__form:hover .search-input,
.categories__menu__searchbar__form:valid .search-input{
    display: block;
}

.categories__menu__searchbar__form:hover .fa,
.categories__menu__searchbar__form:valid .fa{
    background: var(--black-color);
    color: var(--gray-color);
}




#main-search-title{
    color: var(--gray-turquoise-color);
    display: inline;
}

/*---------------------------------------------
              CATEGORY
---------------------------------------------*/
#main-category-title{
  color: var(--gray-turquoise-color);
  display: inline;
}


.post-card{
  width: 100%;
}


.text-muted {
 color: #6c757d;
}

/*---------------------------------------------
              DETAIL
---------------------------------------------*/

.author-profile-image{
    max-width: 100%;
    height: auto;
    width: auto; /*ie8*/
    border: 0.25rem solid;
    border-color: var(--gray-color);
}

