

.course-card{
  width: 100%;
  height: 700px;
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  border: 0.125rem solid var(--gray-color);
}

.card-body {
  position: relative;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}




#dna-icon{
  margin-top: 30px;
  width: 40%;
  fill:#45A29E;
}

.neon-button {
  font-size: var(--h2-size);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 35px;
  border: 2px solid;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  position: relative;
  color: var(--light-turquoise-color);
  border-color: var(--light-turquoise-color);
  box-shadow: inset 0 0 0.5em 0 var(--light-turquoise-color), 0 0 0.5em 0 var(--light-turquoise-color);
  animation: border-flicker 10s linear infinite;
}


.neon-button:hover,
.neon-button:focus {
  color: rgba(11, 12, 16, 0.7);
  text-shadow: none;
  background-color: var(--light-turquoise-color);
  box-shadow: 0 0 2em 0.5em var(--light-turquoise-color);
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}


/* Medium screen devices (768px and below) */
@media only screen and (max-width: 768px) {
  .course-card{
    width: 100%;
    height: 100%;
  }
}

