
.spaced-btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
  margin:auto
}



.neon-button {
  font-size: var(--h2-size);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 35px;
  border: 2px solid;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  position: relative;
}

.btn-courses{
  color: var(--light-turquoise-color);
  border-color: var(--light-turquoise-color);
  box-shadow: inset 0 0 0.5em 0 var(--light-turquoise-color), 0 0 0.5em 0 var(--light-turquoise-color);
  animation: border-flicker 10s linear infinite;
}
.btn-blog{
  color: var(--yellow-color);
  border-color: var(--yellow-color);
  box-shadow: inset 0 0 0.5em 0 var(--yellow-color), 0 0 0.5em 0 var(--yellow-color);
}


.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.btn-courses::before{
  background: var(--light-turquoise-color);
}
.btn-blog::before{
  background: var(--yellow-color);
}


.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}
.btn-courses::after{
  background-color: var(--light-turquoise-color);
  box-shadow: 0 0 2em 0.5em var(--light-turquoise-color);
}
.btn-blog::after{
  background-color: var(--yellow-color);
  box-shadow: 0 0 2em 0.5em var(--yellow-color);
}


.neon-button:hover,
.neon-button:focus {
  color: rgba(11, 12, 16, 0.7);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
#offset {
  animation: letter-flicker 10s linear infinite;
}

@keyframes border-flicker {

  30% {
    opacity:1;
  }
  32% {
    opacity:0.4;
  }
  33% {
    opacity:1;
  }
  84% {
    opacity:1;
  }
  88% {
    opacity:0.6;
  }
  90% {
    opacity:1;
  }

}

@keyframes letter-flicker {

  56% {
    opacity:1;
  }
  60% {
    opacity:0.5;
  }
  64% {
    opacity:1;
  }
  65% {
    opacity:0.2;
  }
  66% {
    opacity:1;
  }
  67% {
    opacity:0.2;
  }
  68% {
    opacity:1;
  }
}


.profile-image{
    max-width: 100%;
    height: auto;
    width: auto; /*ie8*/
    border: 0.25rem solid;
    border-color: var(--gray-color);
}


.welcome{
  margin-bottom: 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  gap: 10px 20px;
}

@media only screen and (min-width: 1200px) {
  .welcome {
    flex-wrap: nowrap;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .welcome {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

/*---------------------------------------------
              ABOUT PAGE
---------------------------------------------*/

#about-head-box{
  margin-bottom: 5rem;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#social-buttons-area{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#about-social-links{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


