
{% extends "base.html" %}
{% block title %}Change Your Password{% endblock %}
{% block content %}

<h1>  Change Your Password</h1>

<div class="form-group w-50 p-3 mx-auto">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Change Password</button>
    </form>
    <br>
    <ul>
        <li>Das Passwort darf nicht zu ähnlich zu anderen persönlichen Informationen sein.</li>
        <li>Das Passwort muss mindestens 8 Zeichen enthalten.</li>
        <li>Das Passwort darf nicht allgemein üblich sein.</li>
        <li>Das Passwort darf nicht komplett aus Ziffern bestehen.</li>
    </ul>
</div>



{%endblock%}