{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}


<nav>

    <!-- Left -->
    <div id="navbar-left">
        <a id="brand" href="/" id="navbar-brand">
            <img src="{% static 'logo/Logo_ZC_final_blau_ohne.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Zeise Coding Logo">
            <span>Zeise Coding</span>
        </a>
    </div>


    <!-- Centered -->
    <div id="navbar-center">
        <a href="/">Home</a>
        <a href="{% url 'blog-home' %}">Blog</a>
        <a href="/">Kurse</a>

        {% if user.is_authenticated %}
            <div id="nav-user-dropdown">
                <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                <ion-icon size="small" name="arrow-dropdown"></ion-icon>
                <div class="dropdown-content">
                    <a href="{% url 'edit_profile' %}">Settings</a>
                    {% if user.profile.id %}
                    <a href="{% url 'show_profile_page' user.profile.id %}">Profile</a>
                    <a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a>
                    {% else %}
                    <a href="{% url 'create_profile_page' %}">Create Profile</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
        {% comment %} <a class="nav-link" href="{% url 'login' %}">Login</a> {% endcomment %}
        {% comment %} <a class="nav-link" href="{% url 'register' %}">Register</a> {% endcomment %}
        {% endif %}
    </div>


    <!-- Right -->

    <div id="navbar-right">
    </div>

</nav>